body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root {
  --rojo-oscuro: #61150d;
  --rojo-claro: #ED213A;
  --negro-gris: #2b2a2a;
}
header {
  color: #ffffff;
  background: var(--rojo-claro);
  background: -webkit-linear-gradient(to right, var(--rojo-oscuro), var(--rojo-claro), var(--rojo-oscuro));
  background: linear-gradient(to right, var(--rojo-oscuro), var(--rojo-claro), var(--rojo-oscuro));
}
.black-division {
  height: 3px;
  background: var(--negro-gris);
  background: -webkit-linear-gradient(to right, var(--rojo-oscuro), var(--negro-gris), var(--rojo-oscuro));
  background: linear-gradient(to right, var(--rojo-oscuro), var(--negro-gris), var(--rojo-oscuro));
}